/*body {
    background-color:#fafbfc;
    background-image: url("../Imagenes/FondoCrearPaquete.jpg");
    font-style: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

}
*/
input {
    font-family: 'Akrobat', sans-serif;
    border-radius: 5px;
}
#divTitulo{
    border-radius: 10px;
    background-origin:content-box;
    width:600px;
    opacity : 0.9;
}
