#divBody {
    background-image: url("../Imagenes/FondoCrearPaquete.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

input {
    font-family: 'Akrobat', sans-serif;
    border-radius: 5px;
}
#divTitulo{
    border-radius: 10px;
    color:lightcoral;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}
form{
    width: 600px;
    margin: auto;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
#divVigPaq , #divNombrePaq, #divPrecio, #divQIncluye, #divInserteImagen{
    text-align: center;
    color:white;
    font-size: 23px;
}

input{
    margin-bottom: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
}
#divBotonGuardar{
    text-align: center;
    width: 100%;
}
#divLabelInputHotel{
    width: 100%;
    text-align: center;
}

@media(max-width :500px){
    form{
        width: 100%;
    }
}